extends ../layouts/main-layout.pug 

block content
  .container.col-12.mt-3
    form.overflow-auto(action="", method="POST") 
      table.table.mb-0
        thead
          tr
            th.text-center(scope='row') sezon
            th.text-center(scope='row') İsim
            th.text-center(scope='row') Tarih
            th.text-center(scope='col') Mal Adı 
            th.text-center(scope='col') Adet
            th.text-center(scope='col') Safi
            th.text-center(scope='col') Fiyat
        tbody
          tr
            td.text-center
              select.from-select(style='width:100%;height:30px;' name='seasonId' aria-label="Default select example")   
                option(selected) Select
                each season in seasons
                  option(value=`${season.id}`) #{season.name}
            td.text-center(style='width: 150px;')
              input#receiptOwner(style='width:150px;' type='text' name='receiptOwner')
            td.text-center(style='width: 150px;')
              input#receiptDate(style='width: 150px;' type='date' name='receiptDate')
            td.text-center
              input#malBirName(style='width:120px;' type="text" value='muz' readonly name='malBirName' tabindex="1000")
            td.text-center
              input#malBirAdet.text-end(style='width:120px;' type='text' name='malBirAdet' value='0')
            td.text-center
              input#malBirSafi.text-end(style='width:120px;' type='text' name='malBirSafi'  value='0')
            td.text-center
              input#malBirFiyat.text-end(style='width:120px;' type='text' name='malBirFiyat'  value='0')
          tr
            td.text-center.border-bottom-0(rowspan='2')
            td.text-center.border-bottom-0(rowspan='2')
            td.text-center.border-bottom-0(rowspan='2')
            td.text-center
              input#malIkiName(style='width:120px;' type="text" value='muz ikinci' readonly name='malIkiName' tabindex="1000")
            td.text-center
              input#malIkiAdet.text-end(style='width:120px;' type='text' name='malIkiAdet' value='0')
            td.text-center
              input#malIkiSafi.text-end(style='width:120px;' type='text' name='malIkiSafi' value='0')
            td.text-center
              input#malIkiFiyat.text-end(style='width:120px;' type='text' name='malIkiFiyat' value='0')
          tr
            td.border-bottom-0.text-center 
              input#malUcName(style='width:120px;' type="text" value='muz yerli' readonly name='malUcName' tabindex="1000")
            td.border-bottom-0.text-center
              input#malUcAdet.text-end(style='width:120px;' type='text' name='malUcAdet' value='0')
            td.border-bottom-0.text-center
              input#malUcSafi.text-end(style='width:120px;' type='text' name='malUcSafi' value='0')
            td.border-bottom-0.text-center
              input#malUcFiyat.text-end(style='width:120px;' type='text' name='malUcFiyat' value='0')
          tr 
            td.border-bottom-0(colspan='7')
          tr
            td.border-bottom-0(colspan='7')
              button(type="submit").btn.btn-success.col-12.shadow-none#saveReceipts save 
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Rapor (tümü)
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body
            if genelAdet !== 0
              table.table
                tbody
                  tr
                    th Toplam Satılan ürün
                    td #{genelAdet}
                  tr
                    th Toplam Satılan ürün Safi
                    td #{genelSafi}
                  tr
                    th Ortalama Safi
                    td  #{ortalamaSafi}
                  tr
                    th Ortalama Tutar
                    td  #{ortalamaTutar}
                  tr
                    th Ortalama Fiyat
                    td  #{ortalamaFiyat}
                  tr
                    th.border-bottom-0 Genel Bakiye
                    td.border-bottom-0 #{genelBakiye}
            else 
              h1 rapor yok  
block script
  script(src="/js/script.js") 
